      <div class="page-header">
        <h1><i class="fa fa-question"></i> このページについて <i class="fa fa-question"></i></h1>
      </div>
      <p class="lead about">
      本ページは、Topotal デザイナーである澤田 嵩善さんの誕生日を祝福するために制作された特設サイトです。 <br/>
      澤田さんへの誕生日プレゼントである、たくさんの本たちの読書進捗を管理します。<br/>
      </p>
      <p class="lead about">
      一日に一度、このページに訪れて、今月の本を何ページまで読んだか記録してください。<br/>
      </p>

      <p class="lead about">
      本を何ページまで読んだか記録した後は、進捗管理ページを訪れてみてください。<br/>
      澤田くんがどのくらい本が読んだかが一目で分かるようにグラフにしておきました。<br/>
      </p>

      <p class="lead about">
      澤田くんが本の感想を自由に書き込めるように、感想を書き込むフォームも用意しておきました。<br/>
      難しくて、そして面白い本がいっぱいあるので、<br/>
      気付いたこと、分からなかったこと、面白いと思ったことをどんどん書き残してください。<br/>
      </p>

      <p class="lead about">
      澤田くんが一年間このページを見続けると、全ての本を読み終えることが出来ます。<br/>
      澤田くんはきっとこの一年間で見違えるほど成長したエンジニアになれるでしょう <br/>
      </p>

      <p class="lead about">
      澤田くん、誕生日おめでとう。<br/>
      そして 24 歳の 1 年間、たくさん本を読んで成長しよう。<br/>
      </p>

      <p class="text-right">
        Topotal Project より
      </p>

